/sites/www.julien-hannotin.dev/assets/js/widget.js
/sites/www.julien-hannotin.dev/autoload.php
/sites/www.julien-hannotin.dev/config/_db.ini
/sites/www.julien-hannotin.dev/controllers/homecontroller/class.homecontroller.php
/sites/www.julien-hannotin.dev/controllers/logincontroller/class.logincontroller.php
/sites/www.julien-hannotin.dev/controllers/restservicecontroller/class.restservicecontroller.php
/sites/www.julien-hannotin.dev/db/engine.sqlite3
/sites/www.julien-hannotin.dev/index.php
/sites/www.julien-hannotin.dev/themes/default
/sites/www.julien-hannotin.dev/views/errorscontroller/error404.php
/sites/www.julien-hannotin.dev/views/homecontroller/debug.php
/sites/www.julien-hannotin.dev/views/homecontroller/index.php
/sites/www.julien-hannotin.dev/views/homecontroller/login.php
*~
.idea/*
.idea/LibreMVC.liml
assets/img/favicon/
phar/LibreMVC.phar
