#SetEnv PHP_VER 5_4
<Files ~ "\.ini$">
	Order allow,deny
	Deny from all
</Files>
<Files ~ "\.sqlite3$">
	Order allow,deny
	Deny from all
</Files>
#X-domain

RewriteEngine On
#RewriteBase /libremvc
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]
#php_value auto_prepend_file "./prepend.php"