.bookmarks-list {
    position: relative;
}

.bookmarks-list dd{
    padding: 0;
    margin: 0;
    position: relative;
    vertical-align: top;
}
.bookmarks-list dd p {
    margin: 0;
    padding: 0;
    display: inline;
}
.bookmarks-list .bookmark-editor {
    position: absolute;
    right:0;
    top: 0;
    display: none;
}

.bookmarks-list:hover .bookmark-editor{
    display: block;
}

.bookmarks-list h2 {
    font-size: 24px;
}

.bookmarks-list h2 small{
    font-size: 13px;
}
.bookmarks-list ul {
    margin: 0;
    padding: 0;
}

.bookmarks-list ul li {
    display: inline-block;margin-bottom: 0.5em;
}
.bookmarks-list ul a{
    color: #ffffff;
}

#bookmark {
}

#bookmark .input-group {
    width: 100%;
}

#bookmark .input-group-addon {
    min-width: 25%;
}

#toTop {
    position: fixed;
    right: 1em;
    bottom: 1em;
    background-color: #ffffff;
    padding: 0.25em;
}

#topTop a{

}

.fadeTop {
    background: -moz-linear-gradient(top, rgba(232,232,232,1) 0%, rgba(232,232,232,0) 99%, rgba(232,232,232,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,232,232,1)), color-stop(99%,rgba(232,232,232,0)), color-stop(100%,rgba(232,232,232,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(232,232,232,0) 99%,rgba(232,232,232,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(232,232,232,0) 99%,rgba(232,232,232,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(232,232,232,1) 0%,rgba(232,232,232,0) 99%,rgba(232,232,232,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(232,232,232,1) 0%,rgba(232,232,232,0) 99%,rgba(232,232,232,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#00e8e8e8',GradientType=0 ); /* IE6-9 */
    min-height: 1em;
    height:50px;
    position: fixed;
    top: 50px;
    left: 0;
    min-width: 100%;
    z-index:9999;
}

footer {
    position: fixed;
    width: 100%;
    background-color: rgba(232,232,232,1);
    z-index: 9;
    bottom: 0;
}

footer .container {
    /*background-color: #000101;*/
}
#body {
    position: relative;
    z-index: 1000;
    background-color: rgba(232,232,232,1);
}
#body {
    position: relative;
    margin-bottom: 0;
}