.row {
    margin-bottom: 2em;
}

body {
    background-color: #E8E8E8;
    padding-top: 50px;
    padding-bottom: 100px;
}

header {
    z-index: 10000;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

.col-container {
    background-color: #F9F9F9;
    box-shadow: 0 0 0 2px #000 inset;
    box-shadow: 0 0 0 1px #FFFFFF inset;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.col-container h3 .badge {
    vertical-align: top;
}

    .col-container H3 {
        margin-top: 0;
        border-bottom: thin groove #35383D;
        height: 1.5em;
    }

#parallax-wrapper  {
    background-color: #E8E8E8;
    margin-bottom: 10%;
    position: relative;
    margin: 0;
    z-index: 1;
}

footer {
    background-color: #F5F5F5;
    bottom: 0;
    display: block;
    height: 100px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 0;
}

    footer .container {
        margin-top: 2em;
        margin-bottom: 2em;

    }

    .footer-backtotop {
        display: block;
        height: 100%;
        width: 100%;
    }

.bookmarks-tags-list {
    padding: 1em;
    text-align: center;
}

.bookmarks-tags-list div a{
    color: #F5F5F5;
    display: block;
    height: 3em;
    line-height: 1em;
    padding: 1em;
    width: 100%;
}

.bookmarks-tags-list div div {
    background-color:#3071a9;
    color: white;
    margin-right: 1em;
    width: 100%;
    margin: 0 auto;
    display: block;
    vertical-align: middle;
    margin-bottom: 2em;
}

/*Bookmarks-list*/
.bookmarks-list {
    margin: 0;
    padding: 0;
    width: 100%;
}

.bookmarks-list div dt span.label{
    font-size: 0.75em;
    line-height: 1em;
    margin-left: 0.3em;
    padding: 0.25em;
}

.bookmarks-list dt img {
    margin-right: 0.5em;
}

.bookmarks-list dt a {
    display: inline-block;
    height: 1.5em;
    line-height: 1.5em;
    max-width: 93%;
    overflow: hidden;
    width: 94%;
    word-wrap: break-word;
    vertical-align:middle;
}

    .bookmarks-list dd {
        margin-left: 0.5em;
        margin-top: 1em;
    }

        .bookmarks-list dd ul {
            margin-top: 0.75em;
            padding: 0;
        }

        .bookmarks-list dd ul li {
            display: inline-block;
            line-height: 2em;
        }
        .bookmarks-list dd ul li a{
            color: #ffffff;
        }

        .bookmarks-list-front dd {
            display: none;
        }

    .bookmarks-list div[data-bookmark-id] {
        border-bottom: 1px solid #E6E6E6;
        border-top: 1px solid white;
        list-style: none outside none;
        margin: 0;
        padding: 5px;
        position: relative;
    }

        .bookmarks-list div[data-bookmark-id]:nth-child(2n+1) {
            background-color: #F2F2F2;
        }
        .bookmarks-list div[data-bookmark-id]:nth-child(2n) {
            background-color: #FBFBFB;
        }

        .bookmarks-list div[data-bookmark-id]:first-child {
            border-top: 1px solid transparent;
        }
        .bookmarks-list div[data-bookmark-id]:last-child {
            border-bottom: 1px solid transparent;
        }

        .bookmark-panel {
            visibility: hidden;
            position: relative;
            line-height: 0;
        }

            .bookmarks-list div[data-bookmark-id]:hover .bookmark-panel {
                visibility: visible;
            }

        .bookmark-panel a{
            color: white;
            font-weight: lighter;
            display: block;
            height: 100%;
            width: 100%;
        }

        .bookmark-panel a:hover{
            text-decoration: none;
        }

/*
FORM
*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}